.body {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
}

.card {
	background: linear-gradient(to bottom, #1c92d2, #ffffff);;
	border-radius: 24px;
	margin: 20px;
	padding: 20px 60px 20px 40px;
	width: 85vw;
	cursor: pointer;
	/* height: 360px; */
	/* overflow: hidden; */
	/* width: 420px; */
	/* display: flex; */
	/* flex-direction: row; */
	/* align-items: center; */
	/* text-align: left; */
	/* justify-content: center; */
}
h3 {
	font-weight: 600;
	/* margin: auto; */
}
h4,
h5 {
	font-weight: 500;
	margin-top: -10px;
}
.card img {
	/* width: 80%; */
	height: 200px;
	/* background-color: red; */
}

@media screen and (min-width: 640px) {
}
